extends ../layout
block content
		.container
			.row#yesprint
				table.bordered.striped#exemple
					thead
						th Vacina
						th Paciente
						th Data de Aplicação
						th Vacinador
						th Coren Vacinador
					tbody
						each val in vacinas
							each d in val.dados
								tr
								td #{val.nome}
								td #{d.paciente.nome}
								td #{moment(d.data).add(24, 'hours').format('DD/MM/YYYY')}
								td #{d.aplicador.nome}
								td #{d.aplicador.coren}
			.row
				button.btn.waves-effect.waves-light(id="Imprimir") Imprimir