extends ../layout
block content
		.container
			.row
				table(id="tabela").bordered.striped.responsive-table.cols12
					thead
						th Paciente
						th Vacina
						th Data de Aplicação
						th Vacinador
						th Coren Vacinador
						tr
					tbody
						for val in vacinas
							tr
								//-td #{val.nome}
								td #{val.dados.aplicador.nome}
								//- td #{moment(val.data).format('DD/MM/YYYY')}
								//- td #{val.aplicador.nome}
								//- td #{val.aplicador.coren}