extends ../layout

block content
    .container
        .row.card-panel.grey.lighten-5
            .valign-wrapper
                h5 Cadastro de Agente de Saúde
            form(action="/cadastro/aplicador" method="POST").col.s12

                .row
                    .col.s12.m6.l4
                        .input-field
                            input.validate(type="text" name="nome" value="#{aplicador.nome || ''}" required )
                            label(for="nome") Nome
                    .col.s12.m6.l2
                        .input-field
                            input.calend(type="text" name="nasc"  value="#{aplicador.nsc || ''}" required)
                            label(for="nasc") Data de Nascimento
                    .col.s12.m6.l3
                        .input-field
                            input.validate(type="text" name="rg"  value="#{aplicador.rg || ''}" required)
                            label(for="rg") RG
                    .col.s12.m6.l3
                        .input-field
                            input.validate.cpf(type="text", name="cpf"  value="#{aplicador.cpf || ''}" required)
                            label(for="cpf") CPF
                .row
                    .col.s12.m6.l6
                        .input-field
                            input.validate(type="text", name="pai"  value="#{aplicador.pais.pai || ''}"  required)
                            label(for="pai") Nome do Pai
                    .col.s12.m6.l6
                        .input-field
                            input.validate(type="text" name="mae"  value="#{aplicador.pais.mae || ''}"  required)
                            label(for="mae") Nome da Mãe
                .row
                    .col.s12.m6.l4
                        .input-field
                            input.validate.fone(type="text" name="fone"  value="#{aplicador.telefone || ''}"  required)
                            label(for="fone") Fone
                    
                    .col.s12.m6.l4
                        .input-field
                            input(type="text" name="coren"  value="#{aplicador.coren || ''}"  required)
                            label(for="coren") Numero Coren
                     .col.s12.m6.l4
                        .input-field
                            select(name="tipo" required)
                                    option(value="", disabled, selected) Tipo
                                        option(value="administrador") Administrador
                                        option(value="vacinador") Vacinador
                .row
                    .col.s12.m6.l6
                        .input-field
                            input.validate(type="email" name="email"  value="#{aplicador.email || ''}" required)
                            label(for="email") Email
                    .col.s12.m6.l3
                        .input-field
                            input(type="password" name="senha"  required)
                            label(for="senha") Senha
                    .col.s12.m6.l3
                        .input-field
                            input(type="password" name="repetirsenha" required)
                            label(for="senha") Digite a Senha novamente
                
                .row
                    .col.s12.m6.l4
                        .input-field
                            input.validate(type="text" name="rua"  value="#{aplicador.endereco.rua || ''}" required)
                            label(for="rua") Rua
                    .col.s12.m6.l2
                        .input-field
                            input.validate(type="text" name="numero"  value="#{aplicador.endereco.numero || ''}" required)
                            label(for="numero") Número
                    .col.s12.m6.l4
                        .input-field
                            input.validate(type="text" name="bairro"  value="#{aplicador.endereco.bairro || ''}" required)
                            label(for="bairro") Bairro
                    .col.s12.m6.l2
                        .input-field
                            input.validate.cep(type="text" name="cep"  value="#{aplicador.endereco.cep || ''}" required)
                            label(for="cep") CEP
                .row

                    .col.s12.m6.l8
                        .input-field
                            input.validate(type="text" name="cidade"  value="#{aplicador.endereco.cidade || ''}" required)
                            label(for="cidade") Cidade
                    .col.s12.m6.l4
                        .input-field
                            input.validate(type="text" name="uf" value ="#{aplicador.endereco.uf || ''}" required)
                            label(for="uf") UF
                if messages.erro
                    .row
                        .col.s12.m6.l6
                            each msg in messages.erro
                                    b=msg
                                    br
                .row
                    .row.col.s12.l6.m6
                        button.btn.waves-effect.waves-light.grey.lighten-3.black-text(type="submit" name="action") Cadastrar
                            i.material-icons.right send
                    .row.col.s12.l6.m6
                        a.btn.waves-effect.waves-light.grey.lighten-3.black-text(href="/usuario") Cancelar
                            i.material-icons.right send

                
                        


    