extends ../layout
block content
		.container
		.container
			.row
				.row
					h3(id="pac").col.s5 Relatorio
				div(id="pac").row
					h6.col.s4 NOME: #{'' || vacinador.nome}
					h6.col.s3 CPF: #{'' || vacinador.cpf}
					h6.col.s5 Registro Sus: #{'' || vacinador.coren}

				.row.tab
					table.tabela
						thead
							th Vacina
							th Data de Aplicação
							th Paciente
						tbody
							each val in vacinador.vacinas
								tr
									td #{val.vacina.nome}
									td #{moment(val.data).add(24, 'hours').format()}
									td #{val.paciente.nome}

				.row.col.s6.tab
					button.btn.waves-effect.waves-light(id="Imprimir") Imprimir