extends ../layout
block content
	.container
		h1 Pacientes
		p #{paciente.nome}
		br 
		p #{paciente._id}
		.container
			.row
				form.col.s12(method="POST", action="/paciente/edit/#{paciente._id}")
					.row
						.input-field.col.s6
							select#selectVacina(name="nome")
								option(value="", disabled, selected) Vacinas
								each vacina in vacinas
									option(value="#{vacina.nome}") #{vacina.nome}
					.row
						button(type="submit", class="waves-effect waves-light btn") Atualizar