extends ../layout
block content
		.container
			.row
				.row
					h3(id="pac").col.s5 Cartão de Vacina
					h3(id="min").col.s5 Aplicar Vacina
				div(id="pac").row
					h6.col.s4 NOME: #{'' || paciente.nome}
					h6.col.s3 CPF: #{'' || paciente.cpf}
					h6.col.s5 Registro Sus: #{'' || paciente.sus}

				.row
					table.display
						thead
							th Vacina
							th Data de Aplicação
							th Vacinador
							th Coren Vacinador
						tbody
							each val in paciente.vacinas
								tr
									td #{val.vacina.nome}
									td #{moment(val.data).add(24, 'hours').format('DD/MM/YYYY')}
									td #{val.aplicador.nome}
									td #{val.aplicador.coren}

				.row.col.s6
					button.btn.waves-effect.waves-light(id="Imprimir") Imprimir
				.row.col.s6
					button.btn.waves-effect.waves-light(id="aplicar") Ministrar Nova Vacina

				.row#form

					form.col.s12(action="/aplicarVacina/#{paciente._id}" method="POST")

						.row
							.input-field.col.s6
								select(name="vacinas")
									option(value="", disabled, selected) Vacinas
									each vacina in vacinas
										option(value="#{vacina._id}") #{vacina.nome}
							.input-field.col.s6
								input(type="DATE" name="date")
	
						.row
							.input-field.col.s6
								button.btn.waves-effect.waves-light(type="submit" name="action") Aplicar
									i.material-icons.right send